#container {
    height: 450px;
    width: 350px;
}

#col1 {
    height: 435px;
}

#img1 {
    height: 197px;
    width: 350px;
}
.navbar-brand {
    font-size: 25px;
}
nav.navbar.navbar-default{
    color:white; background-color: #042331; padding-left: 30px;
}
nav.navbar.navbar-default .navbar-header .navbar-brand{
    color:white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:white;
    background-color:#0a5275;
}
#meng,#zhongsan,#wanda,#flower,#huizan{
    display: none;
}
#meng:target,#zhongsan:target,#wanda:target,#flower:target,#huizan:target{
    display: block;
}
.navbar-default .navbar-nav>li #search{
    margin-left: 10px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    color: #042331;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }